<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="10">
    <title>Navigation</title>
    <style type="text/css">
        .mydiv{

            width:1200px;
            height:200px;
            background:#ccc;
            display: flex;
            align-items:center;
            justify-content:space-around;
        }
        #group{
            display: flex;
        }
        button{
            width:300px;
            height:150px;
            font-size:32px;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        function btnSelf() {
            axios({
                method: 'POST',
                url: '/combineBySelf'
            })
    }

    function btnShow() {
        axios({
            method: 'POST',
            url: '/table'
        })
    }

    function btnIndex() {
            axios({
                method: 'GET',
                url: '/summary'
            })
        .then(function(response) {
            alert(response.data)
        })
    }


    </script>
</head>
<body>
    <div id="group">
     <div class="mydiv">
            <button onclick="btnIndex()">引导页</button>
     </div>
     <div class="mydiv">
            <button onclick="btnShow()">图表组合</button>
     </div>
     <div class="mydiv">
            <button onclick="btnSelf()">自选组合</button>
     </div>
    </div>
    <div>
        内容显示
    </div>
</body>
</html>